<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         oracle.jdbc.driver.OracleDriver
      </property>
      <property name="show_sql">1</property>
      <property name="hbmdl.auto">update</property>
      <!-- Assume test is the database name -->
      <property name="hibernate.default_schema">ashu</property> 
      <property name = "hibernate.connection.url">
      	 jdbc:oracle:thin:@localhost:1521/xe
      </property>

      <property name = "hibernate.connection.username">
         ashu
      </property>
      
      <property name = "hibernate.connection.password">
         ashu
      </property>
      
      
      <!-- List of XML mapping files 
      <mapping resource = "/config/Person.hbm.xml"/>
      <mapping resource = "/config/Message.hbm.xml"/>-->
      
   </session-factory>
</hibernate-configuration>